body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
figure{
    margin: 0;
}
.post{
    width: 440px;
    height: 720px;
    background-color: whitesmoke;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.post-header{
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 6px auto;
}
.post-header-title{
    margin:0;
    display:flex;
}
.post-header-text > p{
    display: block;
    margin:0;
    
}
.fa-html5{
    margin: auto 3px;
}
.fa-ellipsis-vertical{
    margin: auto 0;
}

.post-imagen > figure > img {
    width: 100%;
    height: auto; 
    object-fit: cover;
}
.post-body{
    width: 100%;
    height: 100%;
    
}
.post-btn{
    margin: 10px auto 0px 0px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-likes{
    padding: 0px 15px;
    margin: 10px auto;
}

.post-description{
    padding: 0px 15px;
    margin: 10px auto;
}